{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
<html>
    <head>
        <title>front</title>
    </head>
    <body>
        {% block navbar %}
        <div class="navbar navbar-inverse" role="navigation">
            <div class="container">
            <div class="page-header">
            <a href='./show' style="color:white">show the db</a>
            <h1 style="color:white">Please input data</h1>
            
        </div>
        </div>
        </div>
        {% endblock %}
        
        {% block content %}
        <div style="width:50%;">
      
            {{ wtf.quick_form(form) }}
        </div>
        {% endblock %}
        
    </body>

</html>
